{% comment %}
Table for data.site.drug_candidates.csv.

Does some column-specific data munging beyond what's available with _includes/datatable.html

Parameters:
- data: data object

Page Parameters (from yml frontmatter):
- datatable: dictionary with DataTable initialization parameters

{% endcomment %}
<figure class="full-width"><div class="m-10">
<table id="datatable" class="datatable">
    <thead>
        <tr>
            <th>Chemical Name</th>
            <th>Structure</th>
            <th>Clinical name</th>
            <th>Clinical provider</th>
            <th>Drug status</th>
            <th>Identifiers</th>
            <th>Other clinical names</th>
            <th>Affinity (nM)</th>
            <th>Human Target</th>
            <th>Viral Bait</th>
            <th>Mechanism</th>
            <th>Covid Trials</th>
            <th>References</th>
        </tr>
    </thead>
    <tbody>
        {% for row in include.data %}
        <tr>
            <td>{{row["Compound Name"]}}</td>
            <td>{% if row["Pubchem"] %}
                <img class="structureThumbnail"
                    src="https://pubchem.ncbi.nlm.nih.gov/image/imgsrv.fcgi?cid={{row["Pubchem"]}}"
                    alt="Structure of {{row["Compound Name"]}}"
                />
            {% endif -%}
            </td>
            <td>{% if row["Clinical name"] and row["Clinical name"] != "-" -%}
                {{row["Clinical name"]}}
            {%- else -%}
                {{row["Compound Name"]}}
            {%- endif -%}</td>
            <td>{{row["Clinical provider"]}}</td>
            <td>{{row["Drug Status"]}}</td>
            <td>{% if row["Pubchem"] %}
                <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{row["Pubchem"]}}">{{row["Pubchem"]}}</a>
            {%- endif %}
            </td>
            <td>{{row["Other clinical names"]}}</td>
            <td>{% assign types = row["Affinity Type"] -%}
                {% assign affinities = row["Affinity (nM)"] -%}
                {% include affinity.html types=types affinities=affinities join="<br/>" %}
            </td>
            <td>{{row["Human Target"]}}</td>
            <td>{{row["Viral Bait"]}}</td>
            <td>{{row["Mechanism"]}}</td>
            <td>{{row["trials_html"]}}</td>
            <td>{% assign refs = row["References"] -%}
                {% include references.html refs=refs -%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% link assets/js/citation.js %}"></script>
</div></figure>